html
  head
    link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='./public/style.css')
    link(href='https://fonts.googleapis.com/css2?family=Pangolin&display=swap', rel='stylesheet')
  body
    block content